:root{
    --grid-cols: 1;
    --grid-rows: 1;
    /* background: rgb(253,187,45); */
    /* background: radial-gradient(circle, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 96%); */
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
body{
    margin: 0; /* ref https://stackoverflow.com/a/46874091 */
}
*{
    /* padding & borders (not margins) factored into content length */
    /* ref https://stackoverflow.com/a/48198484 */
    box-sizing: border-box; 
}
.wrap{
    /* ref https://css-tricks.com/using-flexbox/ */
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    justify-content: space-evenly;
    text-align: center;
    padding: 2vh;
    height: 20vh;   
}
.info{
    visibility: hidden;
    font: 400 4vmin 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 800px){
    .info{
        align-items: center;
        font: 200;
    }
}
#suttonButton{
    background-color: black;
    color: white;
    font: 100 5vmin 'Bebas Neue', 'open sans';
    text-transform: uppercase;
    border-radius: 50%;
    /* position: fixed; */

    /* Center text in circle */
    width: 16vmin;
    height: 16vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
#shuffle{
    background-color: black;
    color: white;
    font: 75 4vmin 'Bebas Neue', 'open sans';
    text-transform: uppercase;
    border-radius: 50%;
    /* position: fixed; */

    /* Center text in circle */
    width: 12vmin;
    height: 12vmin;
    display: flex;
    align-items: center;
    justify-content: center;

    /* position:absolute; */
    margin-top: 2vh;
}
#plus, #minus{
    visibility: hidden;
    background-color: black;
    color: white;
    font: 100 3em 'Bebas Neue', 'open sans';
    text-transform: uppercase;
    border-radius: 50%;
    
    /* Center text in circle */
    width: 8vmin;
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    gap: 1em;
    border-radius: 2vh;
    height: 72vh;    
}
.wrapped{
    /* justify-content: space-evenly; */
    text-align: right;
    padding: 2vh;
    height: 8vh;   
}
.grid-item{
    place-self: center; 
    align-self: center;
    text-align: center;
    border-radius: 50%;
    font: 3vmin 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 16vmin;
    height: 16vmin;
    color: white;
    text-shadow: 2px 2px 4px black;
    border-style: solid;
    border-color: black;
    /* pointer-events: none; */
}
.grid-item img{
    display: block;
}
.bright{
    border-color: white;
    -webkit-box-shadow: 0 0 100px white;
    -moz-box-shadow: 0 0 100px white;
    box-shadow: 0 0 100px white;
}
.noselect { /* https://stackoverflow.com/a/9314458/3911210 */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
}
.modal{
    position: relative;
    background-color: white;
    width: 35vw;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', 'open sans';
    padding: 2vh;

}
.modal-bg_inactive{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;

    color: #ccc;
    float: right;
    font-size: 30px;
}
.modal-close:hover,.modal-close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.instructions{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 8px;
    text-align: left;
    justify-self: left;
    float: left;
    height: 2vh;
}
.instructions:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.modal h1{
    color: purple; 
}
.modal h2{
    color: orangered;
}
.modal h3{
    color: goldenrod;
    margin-bottom: 0;
}
.modal ul{
    margin-top: 0;
}